---
import Section from "../Section.astro";

import { work } from '@cv'
---

<Section title="Experiencia Laboral">

    <ul>
      {
          work.map (
            ({ name, startDate, endDate, position, summary, highlights }) => {
                const startYear = new Date(startDate).getFullYear()
                const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual"
                const years =`${startYear} - ${endYear}`
            
            return (
              <li>
                <article>
                  <header>
                    <div>
                      <h3>{name}</h3>
                      <h4>{position}</h4>
                    </div>

                    <time>{years}</time>
                  </header>

                  <footer>
                      {highlights && highlights.length > 0 && (
    <ul class="exp-highlights">
      {highlights.map(item => item && <li>{item}</li>)}
    </ul>
  )}
                  </footer> 
                </article>
              </li>
            )
          }
        )
      }
    </ul>
</Section>

<style>
  ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* Igual que en educación */
}

  article h3 {
    font-weight: 500;
    color: #111
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

.exp-highlights {
  margin: 0.5em 0 0 0;
  padding: 0;
  list-style: none;
  color: #666;
  font-size: 14.4px;
  font-family: inherit;
}
.exp-highlights li {
  position: relative;
  margin-bottom: -2em;
  padding-left: 1.2em; /* Espacio para la viñeta */
  font-family: inherit;
  text-indent: 0;
}
.exp-highlights li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #666;
  font-size: 1em;
  line-height: 1.5;
}
</style>